<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="navBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Upgrade Voting</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content (swipe)="onSwipe($event)">
    <ion-list>
        <ion-item>
            <ion-label>Coach: </ion-label>
            <div>{{coach.shortName}} - {{coach.firstName}} {{coach.lastName}}</div>
        </ion-item>
        <ion-item>
            <ion-label>Competition: </ion-label>
            <div *ngIf="!showCompetitionSelector">{{competition.name}}</div>
            <ion-select [(ngModel)]="competitionId" style="text-align: center;" interface="action-sheet" *ngIf="showCompetitionSelector" (ionChange)="onCompetitionChange()">
                <ion-select-option *ngFor="let c of competitions" value="{{c.id}}">{{c.name}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="competition && (day || (showDaySelector && competition.days.length > 0))">
            <ion-label>Day: </ion-label>
            <ion-input readonly="true" type="text" *ngIf="!showDaySelector">{{dateService.date2string(day)}}</ion-input>
            <ion-select value="{{dateService.date2string(day)}}" style="text-align: center;" interface="action-sheet" *ngIf="showDaySelector" (ionChange)="onDayChange($event)">
                <ion-select-option *ngFor="let d of competition.days; let idx = index" value="{{dateService.date2string(d)}}">Day {{idx+1}}: {{dateService.date2string(d)}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="upgradeLevels">
            <ion-label>Upgrade to: </ion-label>
            <ion-select [(ngModel)]="upgradeLevel" style="text-align: center;" interface="action-sheet" (ionChange)="onUpgradeLevelChange()">
                <ion-select-option value="">All</ion-select-option>
                <ion-select-option *ngFor="let l of upgradeLevels" value="{{l}}">{{l}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="competition">
            <div *ngIf="referee && !referees && !showRefereeSelector">{{referee.shortName}} - {{referee.firstName}} {{referee.lastName}}</div>
            <div *ngIf="filteredReferees && filteredReferees.length === 0 && showRefereeSelector" style="font-weight: bold;">No referee to upgrade in this competition</div>
            <ion-icon slot="start" name="chevron-back" size="large" *ngIf="filteredReferees && filteredReferees.length && showRefereeSelector" (click)="previousReferee()"></ion-icon>
            <ion-icon slot="start" name="chevron-forward" size="large" *ngIf="filteredReferees && filteredReferees.length && showRefereeSelector" (click)="nextReferee()"></ion-icon>
            <ion-select [(ngModel)]="refereeId" interface="action-sheet" *ngIf="filteredReferees && filteredReferees.length && showRefereeSelector" (ionChange)="onRefereeChange()" style="width: 100%; text-align: center;">
                <ion-select-option *ngFor="let ref of filteredReferees" value="{{ref.id}}">{{ref.shortName}} - {{ref.firstName}} {{ref.lastName}}</ion-select-option>
            </ion-select>
        </ion-item>
        <div *ngIf="referee" style="border-bottom: 1px solid lightgrey;">
            <div style="text-align: center; width:30%; display: inline-block;">
                <ion-icon *ngIf="!referee.photo || !referee.photo.url" size="large" name="person" style="font-size: 4em;"></ion-icon>
                <img src="{{referee.photo.url}}" *ngIf="referee.photo && referee.photo.url" height="100">
            </div>
            <div style="margin: 10px 0; text-align: center; width:40%; display: inline-block;">
                <div style="font-size: 1.4em; font-weight: bold;">{{referee.firstName}}</div>
                <div style="font-size: 1.4em; font-weight: bold;">{{referee.lastName}}</div>
                <div>from {{referee.country}} / {{referee.region}}</div>
                <div>Gender: {{referee.gender == 'M' ? 'Male' : (referee.gender == 'F' ? 'Female' : '-')}}</div>
            </div>
            <div style="text-align: center; width:30%; display: inline-block;">
                <div style="margin: 0 auto;"><img src="assets/imgs/badge/{{referee.referee.refereeLevel}}.png" height="70" /></div>
                <div style="margin: 0 auto;">Cat: {{referee.referee.refereeCategory}}</div>
            </div>
        </div>
        <ion-item-group style="border-left: 1px solid lightgrey; border-right: 1px solid lightgrey;" *ngIf="vote">
            <ion-item-divider color="light" style="text-align: center; font-size: 1.2em; padding: 10px; font-weight: bold; width: 100%;">
                Vote for upgrade to {{referee.referee.nextRefereeLevel}} <span *ngIf="vote.closed">&nbsp;(closed)</span>
            </ion-item-divider>
            <div style="text-align: center;">
                <img src="assets/imgs/badge/{{referee.referee.nextRefereeLevel}}.png" alt="{{referee.referee.nextRefereeLevel}}" height="70" />
            </div>
            <ion-item>
                <ion-radio-group [(ngModel)]="vote.vote" [disabled]="vote.closed" name="vote" (ionChange)="onVoteChange()" style="width: 100%; margin-bottom: 10px;">
                    <ion-item>
                        <ion-label style="color: green; font-weight: bold;">Yes, competent</ion-label>
                        <div slot="start" *ngIf="vote.closed && vote.vote !== 'Yes'" style="width: 30px;"></div>
                        <ion-icon slot="start" name="checkmark-outline" size="large" color="success" *ngIf="vote.closed && vote.vote === 'Yes'"></ion-icon>
                        <ion-radio slot="start" value="Yes" color="success" *ngIf="!vote.closed"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label style="color: blue; font-weight: bold;">Abstein</ion-label>
                        <div slot="start" *ngIf="vote.closed && vote.vote !== 'Abstein'" style="width: 30px;"></div>
                        <ion-icon slot="start" name="radio-button-on-outline" size="large" color="primary" *ngIf="vote.closed && vote.vote === 'Abstein'"></ion-icon>
                        <ion-radio slot="start" value="Abstein" color="primary" *ngIf="!vote.closed"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label style="color: red; font-weight: bold;">Not yet competent</ion-label>
                        <div slot="start" *ngIf="vote.closed && vote.vote !== 'No'" style="width: 30px;"></div>
                        <ion-icon slot="start" name="close-outline" size="large" color="danger" *ngIf="vote.closed && vote.vote === 'No'"></ion-icon>
                        <ion-radio slot="start" value="No" color="danger" *ngIf="!vote.closed"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-item>
            <div class="comment-warning">Visible by the referee</div>
            <ion-item>
                <ion-label>Public<br>comment</ion-label>
                <ion-textarea type="textarea" class="comment" autoGrow="true" inputmode="text" maxlength="200" rows="5" wrap="soft" [disabled]="vote.closed" [(ngModel)]="vote.commentForReferee" [debounce]="3000" (ionChange)="onVoteChange()"></ion-textarea>
            </ion-item>
            <div class="comment-warning">Visible by the referee coaches only</div>
            <ion-item>
                <ion-label>Private<br>comment</ion-label>
                <ion-textarea type="textarea" class="comment" autoGrow="true" inputmode="text" maxlength="200" rows="5" wrap="soft" [disabled]="vote.closed" [(ngModel)]="vote.commentForCoach" [debounce]="3000" (ionChange)="onVoteChange()"></ion-textarea>
            </ion-item>
            <div *ngIf="!vote.closed">
                <ion-button style="float: right;" (click)="saveVote()" shape="round" size="normal" [disabled]="!(dirty || vote.dataStatus === 'NEW')">Save</ion-button>
            </div>
        </ion-item-group>
        <div *ngIf="loading" style="margin: 20px auto; text-align: center;">
            <ion-spinner></ion-spinner>
        </div>
    </ion-list>
    <div style="height: 50px;"></div>
</ion-content>