.comment {
    background-color: #eeeeee;
    margin: 5px;
    border: 1px solid #cccccc;
}

.comment-warning {
    display: block;
    width: 100%;
    text-align: right;
    font-style: italic;
    padding-right: 20px;
    font-size: 0.8em;
}