<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="navBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>L3+ upgrade Voting</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content (swipe)="onSwipe($event)">
    <ion-list>
        <ion-item>
            <ion-label>Coach: </ion-label>
            <div>{{coach.shortName}} - {{coach.firstName}} {{coach.lastName}}</div>
        </ion-item>
        <ion-item>
            <ion-label>Competition: </ion-label>
            <div *ngIf="!showCompetitionSelector">{{competition.name}}</div>
            <ion-select [(ngModel)]="competitionId" style="text-align: center;" interface="action-sheet" *ngIf="showCompetitionSelector" (ionChange)="onCompetitionChange()">
                <ion-select-option *ngFor="let c of competitions" value="{{c.id}}">{{c.name}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="competition && (day || (showDaySelector && competition.days.length > 0))">
            <ion-label>Day: </ion-label>
            <ion-input readonly="true" type="text" *ngIf="!showDaySelector">{{dateService.date2string(day)}}</ion-input>
            <ion-select value="{{dateService.date2string(day)}}" style="text-align: center;" interface="action-sheet" *ngIf="showDaySelector" (ionChange)="onDayChange($event)">
                <ion-select-option *ngFor="let d of competition.days" value="{{dateService.date2string(d)}}">{{dateService.date2string(d)}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="upgradeLevels">
            <ion-label>Upgrade to: </ion-label>
            <ion-select [(ngModel)]="upgradeLevel" style="text-align: center;" interface="action-sheet" (ionChange)="onUpgradeLevelChange()">
                <ion-select-option value="">All</ion-select-option>
                <ion-select-option *ngFor="let l of upgradeLevels" value="{{l}}">{{l}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="competition">
            <ion-label>Referee: </ion-label>
            <div *ngIf="referee && !referees && !showRefereeSelector">{{referee.shortName}} - {{referee.firstName}} {{referee.lastName}}</div>
            <div *ngIf="filteredReferees && filteredReferees.length === 0 && showRefereeSelector" style="font-weight: bold;">No referee to upgrade in this competition</div>
            <ion-select [(ngModel)]="refereeId" style="text-align: center;" interface="action-sheet" *ngIf="filteredReferees && filteredReferees.length && showRefereeSelector" (ionChange)="onRefereeChange()">
                <ion-select-option *ngFor="let ref of filteredReferees" value="{{ref.id}}">{{ref.shortName}} - {{ref.firstName}} {{ref.lastName}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="vote">
            <ion-radio-group [value]="vote.vote" (ionChange)="onVoteChange()">
                <ion-list-header>
                    <ion-label>Vote: </ion-label>
                </ion-list-header>
                <ion-item>
                    <ion-label>Yes</ion-label>
                    <ion-radio slot="start" value="Yes" [disabled]="vote.closed"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Abstein</ion-label>
                    <ion-radio slot="start" value="Abstein" [disabled]="vote.closed"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Not yet</ion-label>
                    <ion-radio slot="start" value="No" [disabled]="vote.closed"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-item>
        <div *ngIf="loading" style="margin: 20px auto; text-align: center;">
            <ion-spinner></ion-spinner>
        </div>
    </ion-list>
</ion-content>