<ion-header>
    <ion-toolbar>
        <span slot="start" style="margin-left: 10px;"><img src="assets/imgs/logo.png" height="30" /></span>
        <ion-title style="text-align: center;">Upgrade Referee App</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item detail routerLink="/competition/list">
            <ion-label class="menu-entry">Competitions</ion-label>
        </ion-item>
        <ion-item detail routerLink="/referee/list" *ngIf="isRefereeCoach() || isAdmin() || isNdr()">
            <ion-label class="menu-entry">Referees</ion-label>
        </ion-item>
        <ion-item detail routerLink="/referee-coach/list">
            <ion-label class="menu-entry">Referee Coaches</ion-label>
        </ion-item>
        <ion-item detail routerLink="/ndr/list">
            <ion-label class="menu-entry">NDRs</ion-label>
        </ion-item>
        <ion-item detail routerLink="/upgrade/voting" *ngIf="isRefereeCoach()">
            <ion-label class="menu-entry">Voting</ion-label>
        </ion-item>
        <ion-item detail routerLink="/referee/votes/{{currentUser.id}}" *ngIf="isReferee()">
            <ion-label class="menu-entry">My upgrade</ion-label>
        </ion-item>
        <ion-item detail routerLink="/upgrade/criteria">
            <ion-label class="menu-entry">Upgrade criteria</ion-label>
        </ion-item>

        <ion-item detail routerLink="/settings">
            <ion-label class="menu-entry">Settings</ion-label>
        </ion-item>
        <ion-item detail routerLink="/admin" *ngIf="isAdmin()">
            <ion-label class="menu-entry">Admin</ion-label>
        </ion-item>
        <ion-item detail routerLink="/user/referee-validation" *ngIf="isNdr() || isAdmin()">
            <ion-label class="menu-entry">Referee Validation</ion-label>
        </ion-item>
        <ion-item (click)="addToHome()" *ngIf="showInstallBtn">
            <ion-label class="menu-entry">Install on device</ion-label>
        </ion-item>
    </ion-list>
    <div *ngIf="notifications && notifications.length > 0">
        <div style="float: right; margin: 5px 10px;">
            <a (click)="closeAllNotifications()">Clear All notifications</a>
        </div>
        <div style="clear: both;"></div>
        <ion-card *ngFor="let not of notifications; let idx=index">
            <ion-card-header color="light">
                <ion-card-title style="font-size: 1.2em;">
                    <div style="float: right;">
                        <ion-icon name="close" (click)="closeNotification(idx)"></ion-icon>
                    </div>
                    <div>{{dateService.datetime2string(not.eventDate)}}</div>
                    <div style="clear: both;"></div>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content style="margin: 5px;" *ngIf="not.sourceShortName">
                <div>{{not.eventMessage}}</div>
                <div style="float: right;">By {{not.sourceShortName}}</div>
                <div style="clear: both;"></div>
            </ion-card-content>
        </ion-card>
    </div>
    <div color="light" style="text-align: center; font-size: 0.8em; margin-top: 10px;">Connected as {{getShortName()}}.</div>
</ion-content>