<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/competition/list" detail>
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="text-align: center;">Competition Home</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="competition && !loading">
    <ion-card>
        <ion-card-header style="text-align: center;">
            <ion-card-title>{{competition.name}}</ion-card-title>
            <ion-card-subtitle>in {{competition.country}} / {{competition.region}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            Date(s):
            <div style="text-align: center;">
                <div *ngFor="let day of competition.days">{{dateService.date2string(day)}}</div>
            </div>
            <div>Category: Open:{{competition.category}}, senior:{{competition.categorySenior}}</div>
            <div *ngIf="owner"><br>Own by {{owner}}</div>
        </ion-card-content>
    </ion-card>
    <div style="margin: 5px;">
        <ion-row>
            <ion-col *ngIf="isRefereeCoachOfCompetition">
                <ion-button routerLink="/upgrade/voting" [queryParams]="{competitionId : competition.id }" expand="block" size="large">
                    <ion-icon name="ribbon-outline"></ion-icon>&nbsp;1.Coach vote
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col *ngIf="isRefereeCoachOfCompetition || isAdmin">
                <ion-button routerLink="/competition/{{competition.id}}/votes" expand="block" size="large">
                    <ion-icon name="ribbon-outline"></ion-icon>&nbsp;2.Panel vote
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="isRefereeCoachOfCompetition || isAdmin">
            <ion-col>
                <ion-button routerLink="/competition/{{competition.id}}/upgrades" expand="block" size="large">
                    <ion-icon name="school"></ion-icon>&nbsp;3.Publish upgrades
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="canEdit || isAdmin">
            <ion-col>
                <ion-button (click)="onDelete()" expand="block" size="large" color="danger">
                    <ion-icon name="trash"></ion-icon>&nbsp;Delete
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button routerLink="/competition/{{competition.id}}/edit" expand="block" size="large" color="warning" style="margin-bottom: 10px;">
                    <ion-icon name="create-outline"></ion-icon>&nbsp;Edit
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="canEdit || isAdmin">
            <ion-col>
                <!-- href="{{env.firebase.functionUrl}}/sendRefereeUpgradeStatus" -->
                <ion-button expand="block" (click)="exportRefereeUpgradeStatus()" size="large" [disabled]="downloading">
                    <ion-icon name="trash"></ion-icon>&nbsp;Download Upgrade Status
                </ion-button>
            </ion-col>
        </ion-row>
    </div>
    <ion-card>
        <ion-card-header>
            <ion-card-title style="text-align: center;">
                <span>Referee Coach Panel ({{competition.refereeCoaches.length}})</span>
                <ion-icon *ngIf="canEdit" size="large" name="create-outline" routerLink="/competition/{{competition.id}}/coaches" style="float: right;"></ion-icon>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let coachRef of competition.refereeCoaches">
                    <ion-label>{{coachRef.coachShortName}} <span *ngIf="coachRef.coachId === competition.refereePanelDirectorId">(Director)</span></ion-label>
                    <ion-icon slot="end" name="eye-outline" routerLink="/referee-coach/view/{{coachRef.coachId}}"></ion-icon>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="referees">
        <ion-card-header style="text-align: center;">
            <ion-card-title>
                <span>Referees ({{referees.length}})</span>
                <ion-icon *ngIf="canEdit" size="large" name="create-outline" routerLink="/competition/{{competition.id}}/referees" style="float: right;"></ion-icon>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let referee of referees">
                    <ion-label>{{referee.shortName}} - {{referee.firstName}} {{referee.lastName}}</ion-label>
                    <img slot="end" src="assets/imgs/logo.png" height="30" *ngIf="isUpgradableReferee(referee) && (isRefereeCoachOfCompetition || isAdmin)" routerLink="/referee/votes/{{referee.id}}" />
                    <ion-icon slot="end" name="eye-outline" routerLink="/referee/view/{{referee.id}}"></ion-icon>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <div style="height: 100px;"></div>
</ion-content>