<!--
  Generated template for the RefereeListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/home" detail>
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="text-align: center;">List of referees</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content (swipe)="onSwipe($event)">
    <ion-list>
        <ion-item *ngIf="showFilterRegion">
            <ion-label>Region</ion-label>
            <ion-select [(ngModel)]="region" interface="action-sheet" (ionChange)="searchReferee()">
                <ion-select-option value="Europe">Europe</ion-select-option>
                <ion-select-option value="Australia">Australia</ion-select-option>
                <ion-select-option value="New Zealand">New Zealand</ion-select-option>
                <ion-select-option value="Others">Others</ion-select-option>
                <ion-select-option value="">All</ion-select-option>
                <ion-select-option value="Test">Test</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="showFilterCountry">
            <ion-label>Country</ion-label>
            <ion-select [(ngModel)]="country" interface="action-sheet" (ionChange)="searchReferee()">
                <ion-select-option value="">All</ion-select-option>
                <ion-select-option *ngFor="let c of constantes.countries" value="{{c[0]}}">{{c[1]}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Referee Level</ion-label>
            <ion-select [(ngModel)]="refereeLevel" interface="action-sheet" (ionChange)="searchReferee()">
                <ion-select-option value="">All</ion-select-option>
                <ion-select-option *ngFor="let level of constantes.refereeLevels" value="{{level}}">{{level}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Upgradable Referee</ion-label>
            <ion-toggle slot="end" [(ngModel)]="applicationUser" (ionChange)="searchReferee()"></ion-toggle>
        </ion-item>
        <ion-searchbar [(ngModel)]="searchInput" (ionChange)="searchReferee()" animated="true" debounce="500" inputmode="text" type="text" showCancelButton="never" showClearButton="never" placeholder="Referee name" searchIcon="search-outline"></ion-searchbar>
        <ion-item>
            <ion-label>Sort by</ion-label>
            <ion-select [(ngModel)]="sortBy" (ionChange)="onSearchBarInput()">
                <ion-select-option value="shortName">Short name</ion-select-option>
                <ion-select-option value="level">Level</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item-group style="width: 100%;">
            <ion-item-divider color="light">Search result<span *ngIf="!loading && referees">&nbsp;({{referees.length}})</span></ion-item-divider>
            <div *ngIf="loading" style="margin: 20px; text-align: center;">
                <ion-spinner></ion-spinner>
            </div>
            <div *ngIf="!loading && (!referees || referees.length === 0)" style="margin: 10px; text-align: center;">Empty result.</div>
            <div *ngIf="!loading && referees">
                <ion-item *ngFor="let referee of referees">
                    <ion-avatar slot="start" *ngIf="!referee.photo || !referee.photo.url" (click)="refereeSelected($event, referee)"><img src="assets/imgs/badge/{{referee.referee.refereeLevel}}.png" /></ion-avatar>
                    <ion-avatar slot="start" *ngIf="referee.photo && referee.photo.url" (click)="refereeSelected($event, referee)"><img src="{{referee.photo.url}}"></ion-avatar>
                    <ion-label (click)="refereeSelected($event, referee)" class="listItemButton">
                        {{referee.shortName}}<br> {{referee.firstName}} {{referee.lastName}}<br> {{referee.referee.refereeLevel.replace('_', ' ')}} ({{referee.referee.refereeCategory}})
                    </ion-label>
                    <img slot="end" src="assets/imgs/logo.png" height="30" *ngIf="referee.accountStatus !== 'NO_ACCOUNT' && referee.referee.nextRefereeLevel" />
                </ion-item>
            </div>
        </ion-item-group>
    </ion-list>
    <div style="margin-bottom: 60px;"></div>
</ion-content>