<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/home" detail>
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="text-align: center;">Admin</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content (swipe)="onSwipe($event)">
    <ion-list>
        <ion-item detail routerLink="/admin/user-manager">
            <ion-label class="menu-entry">Manage users</ion-label>
        </ion-item>
        <ion-item detail routerLink="/admin/coach-validation">
            <ion-label class="menu-entry">Referee Coach Validation</ion-label>
        </ion-item>
        <ion-item detail routerLink="/admin/ndr-validation">
            <ion-label class="menu-entry">NDR Validation</ion-label>
        </ion-item>
        <ion-item detail routerLink="/admin/user-merger">
            <ion-label class="menu-entry">Merge users</ion-label>
        </ion-item>
    </ion-list>
    <div style="margin: 5px;">
        <ion-button expand="block" [disabled]="downloading" (click)="exportRefereeCoachList()">Download Ref coach List</ion-button>
    </div>
    <div style="margin: 5px;">
        <ion-button expand="block" [disabled]="downloading" (click)="exportRefereeList()">Download Referee List</ion-button>
    </div>
    <div style="margin: 5px;">
        <ion-button expand="block" [disabled]="downloading" (click)="exportNDRList()">Download NDR List</ion-button>
    </div>
</ion-content>