<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="back()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="text-align: center;">Competition Upgrades</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="competition">
        <ion-card-header style="text-align: center;">
            <ion-card-title>{{competition.name}}</ion-card-title>
            <ion-card-subtitle>in {{competition.country}} / {{competition.region}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            Date(s):
            <div style="text-align: center;">
                <div *ngFor="let day of competition.days">{{dateService.date2string(day)}}</div>
            </div>
            <div>Category: Open:{{competition.category}}, Senior:{{competition.categorySenior}}</div>
        </ion-card-content>
    </ion-card>
    <ion-item>
        <ion-label>Upgrade Level</ion-label>
        <ion-select [(ngModel)]="upgradeLevel" interface="action-sheet" (ionChange)="filterUpgrades()">
            <ion-select-option value="">All</ion-select-option>
            <ion-select-option value="EURO_3">European Level 3</ion-select-option>
            <ion-select-option value="EURO_4">European Level 4</ion-select-option>
            <ion-select-option value="EURO_5">European Level 5</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Decision</ion-label>
        <ion-select [(ngModel)]="decision" interface="action-sheet" (ionChange)="filterUpgrades()">
            <ion-select-option value="">All</ion-select-option>
            <ion-select-option value="Yes">Yes</ion-select-option>
            <ion-select-option value="No">Not yet</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Upgrade status</ion-label>
        <ion-select [(ngModel)]="upgradeStatus" interface="action-sheet" (ionChange)="filterUpgrades()">
            <ion-select-option value="">All</ion-select-option>
            <ion-select-option value="DECIDED">Decided</ion-select-option>
            <ion-select-option value="PUBLISHED">Published</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item *ngIf="competition && competition.days.length > 1">
        <ion-select (ionChange)="onSortChange()" [(ngModel)]="sort" interface="action-sheet">
            <ion-select-option value="Level-Date">Sort By level then by date</ion-select-option>
            <ion-select-option value="Date-Level">Sort By date then by level</ion-select-option>
        </ion-select>
    </ion-item>

    <div *ngIf="!loading && filteredUpgrades && filteredUpgrades.length === 0" style="margin: 20px; text-align: center;">Empty upgrades list.</div>
    <ion-grid *ngIf="!loading && filteredUpgrades && filteredUpgrades.length > 0">
        <ion-row>
            <ion-col size="2" style="text-align: center;">Date</ion-col>
            <ion-col size="2" style="text-align: center;">Lvl</ion-col>
            <ion-col size="1" style="text-align: center;">Up</ion-col>
            <ion-col size="6" style="text-align: center;">Referee</ion-col>
            <ion-col size="1" style="text-align: center;">Pub</ion-col>
        </ion-row>
        <ion-row *ngFor="let ru of filteredUpgrades">
            <ion-col style="font-size: 0.8em; text-align: center;" size="2">
                <span innerHtml="{{date2html(ru.upgrade.decisionDate)}}"></span>
            </ion-col>
            <ion-col style="text-align: center;" size="2"><img src="assets/imgs/badge/{{ru.upgrade.upgradeLevel}}.png" height="30" /></ion-col>
            <ion-col style="text-align: center;" size="1">
                <span *ngIf="ru.upgrade.decision === 'Yes'"><ion-icon name="checkmark-outline" size="small" color="success"></ion-icon></span>
                <span *ngIf="ru.upgrade.decision === 'No'"><ion-icon name="close-outline" size="small" color="danger"></ion-icon></span>
            </ion-col>
            <ion-col size="6">
                <span style="font-size: 1.1em; font-weight: bold;">{{ru.referee.shortName}} - {{ru.referee.firstName}} {{ru.referee.lastName}}</span>
                <br>{{ru.referee.country}} / {{ru.referee.region}}
            </ion-col>
            <ion-col style="text-align: center;" class="action" size="1" (click)="publishOne(ru)">
                <span *ngIf="ru.upgrade.upgradeStatus === 'PUBLISHED'"><ion-icon name="checkmark-outline" size="small" color="success"></ion-icon></span>
                <span *ngIf="ru.upgrade.upgradeStatus === 'DECIDED'"><ion-icon name="close-outline" size="small" color="danger"></ion-icon></span>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div style="width: 100%; text-align: center;">
        <ion-button *ngIf="hasUnpublished" shape="round" size="large" style="width: 80%; padding: 10px;" (click)="publishAll()" [disabled]="publishing">
            <span *ngIf="publishing"><ion-spinner></ion-spinner>&nbsp;</span>Publish selected
        </ion-button>
    </div>
</ion-content>