<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="saveSettings()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="text-align: center;">Settings</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content (swipe)="onSwipe($event)">
    <ion-list *ngIf="settings">
        <ion-item detail routerLink="/user/edit/{{currentUser.id}}">
            <ion-label class="menu-entry">My account</ion-label>
        </ion-item>
        <ion-item (click)="addToHome()" *ngIf="showInstallBtn">
            <ion-label class="menu-entry">Install on device</ion-label>
        </ion-item>
        <ion-item (click)="migrateReferees()" *ngIf="!env.production">
            <ion-label class="menu-entry">Migrate referees</ion-label>
        </ion-item>
        <ion-item (click)="initUpgradeCriteria()" *ngIf="!env.production">
            <ion-label class="menu-entry">init upgrade criteria</ion-label>
        </ion-item>
    </ion-list>

    <p *ngFor="let m of msg" class="message">{{m}}</p>
    <div color="light" style="text-align: center; font-size: 0.8em; margin-top: 10px;">
        <div>The author of application is <br><a href="mailto:coachreferee@gmail.com">Sebastien Chassande-Barrioz</a>.</div>
        <div>Version: {{env.version}}</div>
    </div>
    <div style="text-align: left; font-size: 0.8em; margin-top: 10px;">
        <div>Debug info:</div>
        <div style="margin-left: 20px;" innerHtml="{{launchMode}}"></div>
    </div>
</ion-content>