<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="navBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Referee upgrade</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content (swipe)="onSwipe($event)">
    <ion-card *ngIf="referee">
        <ion-card-header>
            <ion-title>{{referee.firstName}} {{referee.lastName}}</ion-title>
            <ion-card-subtitle style="text-align: center;">from {{referee.country}} / {{referee.region}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content style="text-align: center;">
            <img src="assets/imgs/badge/{{referee.referee.refereeLevel}}.png" alt="{{referee.referee.refereeLevel}}" height="70" />
            <div>{{referee.referee.refereeCategory}}</div>
        </ion-card-content>
    </ion-card>
    <ion-select [(ngModel)]="refereeUpgradeId" style="text-align: center; margin: 10px; padding: 5px; border: 1px outset #aaaaaa;" interface="action-sheet" (ionChange)="onRefereeUpgradeChange()" *ngIf="!loading && refereeUpgrades.length > 0">
        <ion-select-option *ngFor="let ru of refereeUpgrades" value="{{ru.id}}">{{ dateService.date2string(ru.decisionDate) }}</ion-select-option>
    </ion-select>
    <ion-card *ngIf="!loading && refereeUpgrade">
        <ion-card-content>
            <ion-title>
                <img src="assets/imgs/badge/{{refereeUpgrade.upgradeLevel}}.png" alt="{{refereeUpgrade.upgradeLevel}}" height="70" />
                <div>Upgrade decision:
                    <span style="font-weight: bold; color: red;" *ngIf="refereeUpgrade.decision !== 'Yes'">Not Yet</span>
                    <span style="font-weight: bold; color: green;" *ngIf="refereeUpgrade.decision === 'Yes'">Yes</span>
                </div>
            </ion-title>
            <div *ngIf="refereeUpgrade.upgradeStatus !== 'PUBLISHED'" style="text-align: center;">(Not published yet)</div>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="!loading && refereeUpgrade">
        <ion-card-header>
            <ion-title style="font-weight: bold;">General criteria</ion-title>
        </ion-card-header>
        <ion-card-content *ngIf="upgradeCriteria">
            <div *ngIf="upgradeCriteria.yesRefereeCoachRequired" style="margin: 10px 0;">
                <ion-label>Number of referee coaches voting Yes: {{ refereeUpgrade.yesRefereeCoaches.length }}&nbsp;/&nbsp;{{upgradeCriteria.yesRefereeCoachRequired}}</ion-label>
                <div *ngIf="refereeUpgrade.yesRefereeCoaches.length >= upgradeCriteria.yesRefereeCoachRequired">{{upgradeCriteria.yesRefereeCoachRequired}} referee coaches voting Yes are required (OK).</div>
                <div *ngIf="refereeUpgrade.yesRefereeCoaches.length < upgradeCriteria.yesRefereeCoachRequired" style="color: red;">{{upgradeCriteria.yesRefereeCoachRequired - refereeUpgrade.yesRefereeCoaches.length}} referee coaches voting Yes are missing.</div>
            </div>
            <div *ngIf="upgradeCriteria.multiDayCompetitionRequired" style="margin: 10px 0;">
                <div>Multi day competition {{refereeUpgrade.multiDayCompetitionRefs.length}} / {{upgradeCriteria.multiDayCompetitionRequired}}</div>
                <ul>
                    <li *ngFor="let cid of refereeUpgrade.multiDayCompetitionRefs">{{cid.competitionName}}</li>
                </ul>
                <div *ngIf="refereeUpgrade.multiDayCompetitionRefs.length >= upgradeCriteria.multiDayCompetitionRequired">{{upgradeCriteria.multiDayCompetitionRequired}} multi days competitions are required (OK).</div>
                <div *ngIf="refereeUpgrade.multiDayCompetitionRefs.length < upgradeCriteria.multiDayCompetitionRequired" style="color: red;">{{upgradeCriteria.multiDayCompetitionRequired - refereeUpgrade.multiDayCompetitionRefs.length}} multi days competitions are missing.</div>
            </div>
            <div style="margin: 10px 0;">
                <div *ngIf="upgradeCriteria.totalYesRequired && nbYesDay < upgradeCriteria.totalYesRequired" style="color: red;">{{upgradeCriteria.totalYesRequired - nbYesDay}} Yes days are missing.</div>
                <div *ngIf="upgradeCriteria.totalYesRequired && nbYesDay >= upgradeCriteria.totalYesRequired">{{upgradeCriteria.totalYesRequired}} Yes days are required (OK).</div>
                <div *ngIf="upgradeCriteria.daysRequired && nbDay < upgradeCriteria.daysRequired" style="color: red;">{{upgradeCriteria.daysRequired - nbDay}} competition days are missing.</div>
                <div *ngIf="upgradeCriteria.daysRequired && nbDay >= upgradeCriteria.daysRequired">{{upgradeCriteria.daysRequired}} competition days are required (OK).</div>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="!loading && upgradeCriteria && upgradeCriteria.c5DaysRequired > 0">
        <ion-card-header style="background-color: black; color: white;">
            <ion-title style="font-weight: bold;">Competition days retained for C5</ion-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let pv of refereeUpgrade.c5PanelVotes">
                    <div slot="start" style="width: 85px;">{{dateService.date2string(pv.day)}}</div>
                    <ion-label>
                        {{pv.competitionRef.competitionName}}
                        <div style="font-size: 0.8em;">Category: {{pv.competitionCategory}}</div>
                        <div style="font-size: 0.8em;" *ngIf="pv.vote === 'Yes'">Nb Coach: {{pv.yesCoaches.length}}</div>
                        <div style="font-size: 0.8em;" *ngIf="pv.commentForReferee && pv.commentForReferee.length > 2">Comment: {{pv.commentForReferee}}</div>
                    </ion-label>
                    <div slot="end">
                        <span *ngIf="pv.vote === 'Yes'" style="color: green; font-weight: bold;">Yes</span>
                        <span *ngIf="pv.vote !== 'Yes'" style="color: red; font-weight: bold;">Not Yet</span>
                    </div>
                </ion-item>
            </ion-list>
            <div *ngIf="refereeUpgrade.c5PanelVotes.length < upgradeCriteria.c5DaysRequired" style="color: red;">{{upgradeCriteria.c5DaysRequired - refereeUpgrade.c5PanelVotes.length}} C5 competition day(s) are missing.</div>
            <div *ngIf="refereeUpgrade.c5PanelVotes.length >= upgradeCriteria.c5DaysRequired">{{upgradeCriteria.c5DaysRequired}} C5 competition day(s) are required (OK).</div>

            <div *ngIf="upgradeCriteria.c5YesRequired > 0 && c5YesPanelVotes < upgradeCriteria.c5YesRequired" style="color: red;">{{upgradeCriteria.c5YesRequired - c5YesPanelVotes}} Yes vote(s) are missing.</div>
            <div *ngIf="upgradeCriteria.c5YesRequired > 0 && c5YesPanelVotes >= upgradeCriteria.c5YesRequired">{{upgradeCriteria.c5YesRequired}} Yes vote(s) are required (OK).</div>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="!loading && upgradeCriteria && upgradeCriteria.c4DaysRequired > 0">
        <ion-card-header style="background-color: red; color: white;">
            <ion-title style="font-weight: bold;">Competition days retained for C4+</ion-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let pv of refereeUpgrade.c4PanelVotes">
                    <div slot="start" style="width: 85px;">{{dateService.date2string(pv.day)}}</div>
                    <ion-label>
                        {{pv.competitionRef.competitionName}}
                        <div style="font-size: 0.8em;">Category: {{pv.competitionCategory}}</div>
                        <div style="font-size: 0.8em;" *ngIf="pv.vote === 'Yes'">Nb Coach: {{pv.yesCoaches.length}}</div>
                        <div style="font-size: 0.8em;" *ngIf="pv.commentForReferee && pv.commentForReferee.length > 2">Comment: {{pv.commentForReferee}}</div>
                    </ion-label>
                    <div slot="end">
                        <span *ngIf="pv.vote === 'Yes'" style="color: green; font-weight: bold; font-size: 1.1em;">Yes</span>
                        <span *ngIf="pv.vote !== 'Yes'" style="color: red; font-weight: bold;">Not Yet</span>
                    </div>
                </ion-item>
            </ion-list>
            <div *ngIf="refereeUpgrade.c4PanelVotes.length < upgradeCriteria.c4DaysRequired" style="color: red;">{{upgradeCriteria.c4DaysRequired - refereeUpgrade.c4PanelVotes.length}} C4 competition day(s) are missing.</div>
            <div *ngIf="refereeUpgrade.c4PanelVotes.length >= upgradeCriteria.c4DaysRequired">{{upgradeCriteria.c4DaysRequired}} C4+ competition day(s) are required (OK).</div>

            <div *ngIf="upgradeCriteria.c4YesRequired > 0 && c4YesPanelVotes < upgradeCriteria.c4YesRequired" style="color: red;">{{upgradeCriteria.c4YesRequired - c4YesPanelVotes}} Yes vote(s) are missing.</div>
            <div *ngIf="upgradeCriteria.c4YesRequired > 0 && c4YesPanelVotes >= upgradeCriteria.c4YesRequired">{{upgradeCriteria.c4YesRequired}} Yes vote(s) are required (OK).</div>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="!loading && upgradeCriteria && upgradeCriteria.c3DaysRequired > 0">
        <ion-card-header style="background-color: yellow; color: black;">
            <ion-title style="font-weight: bold;">Competition days retained for C3+</ion-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let pv of refereeUpgrade.c3PanelVotes">
                    <div slot="start" style="width: 85px;">{{dateService.date2string(pv.day)}}</div>
                    <ion-label>
                        {{pv.competitionRef.competitionName}}
                        <div style="font-size: 0.8em;">Category: {{pv.competitionCategory}}</div>
                        <div style="font-size: 0.8em;" *ngIf="pv.vote === 'Yes'">Nb Coach: {{pv.yesCoaches.length}}</div>
                        <div style="font-size: 0.8em;" *ngIf="pv.commentForReferee && pv.commentForReferee.length > 2">Comment: {{pv.commentForReferee}}</div>
                    </ion-label>
                    <div slot="end">
                        <span *ngIf="pv.vote === 'Yes'" style="color: green; font-weight: bold; font-size: 1.1em;">Yes</span>
                        <span *ngIf="pv.vote !== 'Yes'" style="color: red; font-weight: bold;">Not Yet</span>
                    </div>
                </ion-item>
            </ion-list>
            <div *ngIf="refereeUpgrade.c3PanelVotes.length < upgradeCriteria.c3DaysRequired" style="color: red;">{{upgradeCriteria.c3DaysRequired - refereeUpgrade.c3PanelVotes.length}} C3 competition day(s) are missing.</div>
            <div *ngIf="refereeUpgrade.c3PanelVotes.length >= upgradeCriteria.c3DaysRequired">{{upgradeCriteria.c3DaysRequired}} C3+ competition day(s) are required (OK).</div>

            <div *ngIf="upgradeCriteria.c3YesRequired > 0 && c3YesPanelVotes < upgradeCriteria.c3YesRequired" style="color: red;">{{upgradeCriteria.c3YesRequired - c3YesPanelVotes}} Yes vote(s) are missing.</div>
            <div *ngIf="upgradeCriteria.c3YesRequired > 0 && c3YesPanelVotes >= upgradeCriteria.c3YesRequired">{{upgradeCriteria.c3YesRequired}} Yes vote(s) are required (OK).</div>
        </ion-card-content>
    </ion-card>
    <div style="text-align: center; margin-top: 20px;" *ngIf="!loading && refereeUpgrades.length === 0">
        No upgrade information available.
    </div>
    <div style="text-align: center;" *ngIf="refereeUpgrade && isAdmin()">
        <ion-button [disabled]="computing" (click)="onRecomputeUpgrade()" shape="round">
            <ion-icon name="refresh-sharp"></ion-icon>&nbsp;Re Compute
            <ion-spinner *ngIf="computing" style="margin-left: 10px;"></ion-spinner>
        </ion-button>
    </div>
    <ion-card *ngIf="!loading && refereeUpgrade && refereeUpgrade.allPanelVotes && isAdmin()" style="margin: 40px 0;">
        <ion-card-header>
            <ion-title style="font-weight: bold;">All votes over the period</ion-title>
            <ion-card-subtitle style="font-style: italic; text-align: center;">Only Administrator can see this section</ion-card-subtitle>
        </ion-card-header>
        <ion-list>
            <ion-item *ngFor="let pv of refereeUpgrade.allPanelVotes">
                <div slot="start" style="width: 85px;">{{dateService.date2string(pv.day)}}</div>
                <ion-label>
                    {{pv.competitionRef.competitionName}}
                    <div style="font-size: 0.8em;">Category: {{pv.competitionCategory}}</div>
                    <div style="font-size: 0.8em;">Yes Coach: <span *ngFor="let c of pv.yesCoaches">{{c.coachShortName}}&nbsp;</span></div>
                    <div style="font-size: 0.8em;" *ngIf="pv.commentForReferee && pv.commentForReferee.length > 2">Comment: {{pv.commentForReferee}}</div>
                    <div style="font-size: 0.8em;" *ngIf="pv.commentForCoach && pv.commentForCoach.length > 2">Comment: {{pv.commentForCoach}}</div>
                </ion-label>
                <div slot="end">
                    <span *ngIf="pv.vote === 'Yes'" style="color: green; font-weight: bold; font-size: 1.1em;">Yes</span>
                    <span *ngIf="pv.vote !== 'Yes'" style="color: red; font-weight: bold;">Not Yet</span>
                </div>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>