<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="back()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="text-align: center;">Competition Referees</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-row>
            <ion-col>
                <ion-fab-button (click)="onDeleteAll()" style='--background:red; font-size: 1.6em;'>
                    <ion-icon name="trash"></ion-icon>
                </ion-fab-button>
            </ion-col>
            <ion-col>
                <ion-fab-button (click)="exportReferees()">
                    <ion-icon name="download"></ion-icon>
                </ion-fab-button>
            </ion-col>
            <ion-col>
                <ion-fab-button (click)="onImport()">
                    <ion-icon name="attach"></ion-icon>
                </ion-fab-button>
            </ion-col>
            <ion-col>
                <ion-fab-button (click)="addReferee()" style='--background:green; font-size: 1.6em; margin-bottom: 10px;'>
                    +
                </ion-fab-button>
            </ion-col>
        </ion-row>
    </ion-fab>
    <ion-card *ngIf="competition && !loading">
        <ion-card-header style="text-align: center;">
            <ion-card-title>{{competition.name}}</ion-card-title>
            <ion-card-subtitle>in {{competition.country}} / {{competition.region}}</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
    <ion-list *ngIf="competition && !loading">
        <ion-item-group style="border-left: 1px solid lightgrey; border-right: 1px solid lightgrey;">
            <ion-item-divider color="light" style="text-align: center; font-size: 1.2em; padding: 10px;">
                <ion-label>{{referees.length}} Referee(s)</ion-label>
            </ion-item-divider>
            <ion-item *ngFor="let referee of referees">
                <ion-icon slot="start" *ngIf="!referee.photo || !referee.photo.url" name="person"></ion-icon>
                <ion-avatar slot="start" *ngIf="referee.photo  && referee.photo.url"><img src="img/my-avatar.png"></ion-avatar>
                <ion-label class="listItemButton">
                    {{referee.shortName}}<br> {{referee.firstName}} {{referee.lastName}}<br> {{referee.referee.refereeLevel}} ({{referee.referee.refereeCategory}})
                </ion-label>
                <ion-icon slot="end" size="large" name="trash" (click)="deleteReferee(referee)"></ion-icon>
                <img slot="end" src="assets/imgs/logo.png" height="30" *ngIf="isUpgradableReferee(referee)" routerLink="/referee/votes/{{referee.id}}" />
            </ion-item>
        </ion-item-group>
    </ion-list>
    <div style="height: 100px;"></div>
</ion-content>