<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="back()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="text-align: center;">Competition Coaches</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="competition && !loading">
        <ion-item>
            <ion-label>Director:</ion-label>
            <ion-select slot="end" (ionChange)="setDirector()" [(ngModel)]="competition.refereePanelDirectorId">
                <ion-select-option *ngFor="let coach of coaches" [value]="coach.id">{{coach.shortName}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item-group style="border-left: 1px solid lightgrey; border-right: 1px solid lightgrey;">
            <ion-item-divider color="light" style="text-align: center; font-size: 1.2em; padding: 10px;">
                <ion-label>{{coaches.length}} Referee Coach(es)</ion-label>
            </ion-item-divider>
            <ion-item *ngFor="let coach of coaches">
                <ion-icon slot="start" *ngIf="!coach.photo || !coach.photo.url" name="person"></ion-icon>
                <ion-avatar slot="start" *ngIf="coach.photo && coach.photo.url"><img src="img/my-avatar.png"></ion-avatar>
                <ion-label class="listItemButton">
                    {{coach.shortName}}<br> {{coach.firstName}} {{coach.lastName}}<br> {{coach.refereeCoach.refereeCoachLevel}}
                </ion-label>
                <ion-icon slot="end" name="trash" (click)="deleteRefereeCoach(coach)"></ion-icon>
            </ion-item>
            <ion-item *ngFor="let nonUserCoach of nonUserCoaches">
                <ion-label class="listItemButton">{{nonUserCoach}}</ion-label>
                <ion-icon slot="end" name="trash" (click)="deleteNonUserCoach(nonUserCoach)"></ion-icon>
            </ion-item>

        </ion-item-group>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-row>
            <ion-col>
                <ion-fab-button (click)="addRefereeCoach()" style='--background:green; font-size: 1.6em; margin-bottom: 10px;'>
                    +
                </ion-fab-button>
            </ion-col>
        </ion-row>
    </ion-fab>

</ion-content>