<!--
  Generated template for the CompetitionListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/home" detail>
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="text-align: center;">Competitions</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content (swipe)="onSwipe($event)">
    <ion-list>
        <ion-item>
            <ion-label>Region</ion-label>
            <ion-select [(ngModel)]="region" interface="action-sheet" (ionChange)="onSearchBarInput()">
                <ion-select-option value="Europe">Europe</ion-select-option>
                <ion-select-option value="Australia">Australia</ion-select-option>
                <ion-select-option value="New Zealand">New Zealand</ion-select-option>
                <ion-select-option value="Others">Others</ion-select-option>
                <ion-select-option value="">All</ion-select-option>
                <ion-select-option value="Test">Test</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>With me</ion-label>
            <ion-toggle slot="end" [(ngModel)]="attendedCompetition" (ionChange)="onSearchBarInput()"></ion-toggle>
        </ion-item>
        <ion-searchbar [(ngModel)]="searchInput" (ionChange)="onSearchBarInput()" animated="true" debounce="500" inputmode="text" type="text" showCancelButton="never" showClearButton="never" placeholder="Competition name" searchIcon="search-outline"></ion-searchbar>
        <div *ngIf="loading" style="margin: 20px auto; text-align: center;">
            <ion-spinner></ion-spinner>
        </div>
        <div style="margin: 20px 0;" *ngIf="competitions && competitions.length">
            <ion-item *ngFor="let competition of competitions">
                <ion-label style="border: none;" class="listItemButton" (click)="competitionSelected(competition)">{{competition.name}}
                    <br>{{dateService.date2string(competition.date)}}, {{competition.country}}</ion-label>
                <ion-icon slot="end" name="trash" (click)="deleteCompetition(competition)" *ngIf="competition.ownerId === currentUser.id"></ion-icon>
            </ion-item>
        </div>
    </ion-list>
    <p *ngIf="!competitions || competitions.length == 0" style="margin: 70px 10px 0 10px; text-align: center; font-style: italic;">
        <span *ngIf="canCreate">Use this section to declare competitions. For each competition, you declare the list of referees and the list of referee coaches.</span>
        <span *ngIf="!canCreate">No competition has been found.</span>
    </p>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="canCreate">
        <ion-row>
            <ion-col>
                <ion-fab-button (click)="newCompetition()" class="plusButton">+</ion-fab-button>
            </ion-col>
        </ion-row>
    </ion-fab>
</ion-content>